<div class="ying-widget-body">
    <div class="ying-widget-menu-area btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" ng-click="iconClicked()"></i>
        </a>

        <ul class="dropdown-menu" role="menu">
            <li ng-click="close()"><i class="fa fa-2x fa-close" ng-click="iconClicked()"></i></li>
            <li ng-click="settings()"><i class="fa fa-2x fa-gear" ng-click="iconClicked()"></i></li>
        </ul>

    </div>
</div>