
.ying-title-bar {
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.ying-logo-area {
    /*text-align: center;*/
}

.ying-title-area {
    display: inline-block;
}

.ying-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999;
}

.ying-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.ying-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

@media screen and (max-width: 430px) {
    .ying-icon {
        display: none;
    }

    .ying-logo-title {
        font-size: 18px;
    }
}

.ying-right-side-controls {
    line-height: 60px;
}

.ying-right-side-controls > div {
    text-align: right;
}

@media screen and (min-width: 768px) {
    .ying-right-side-controls > div {
        text-align: right;
    }

    .ying-logo-area {
        text-align: center;
    }
}

.ying-collapsed-menu {
    display: inline-block;
    height: 100%;
}

.ying-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;
}

.ying-view {
    margin-left: 200px;
    padding: 20px;
    background-color: #ccc;
    min-height: 100vh;
    overflow: auto;
}

.ying-view-full-width {
    margin-left: 0;
}

.ying-user-profile {
    background-color: #333333;
    color: white;
    width: 200px;
    min-height: 120px;
    padding-top: 10px;
}

.ying-user-profile > div {
    display: inline-block;
    padding-top: 10px;
    margin-left: 5px;
}

.ying-user-profile > div > p {
    margin-bottom: 2px;
}

.ying-user-profile > div > button {
    margin-top: 8px;
}

.ying-user-profile img {
    float: left;
    margin: 12px;
    width: 80px;
    height: 80px;
}

.ying-user-profile-small{
    color: #333;
    padding-top: 4px;
}

.ying-user-profile-small > span{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.ying-user-profile-small img{
    width: 40px;
    height: 40px;
}

