.wwa-inventory-widget {
    height: 100%;
    width: 100%;
    min-height: 180px;
    font-size: 16px;
    color: black;
}

.wwa-inventory-heading {
    background-color: green;
    color: white;
    height: 32px;
    padding-top: 2px;
    font-size: 15px;
    line-height: 32px;
}

.wwa-inventory-icon {
    height: 24px;
    width: 24px;
    margin-top: -2px;
}

.wwa-inventory-title {

}

.wwa-inventory-body {
    position: relative;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 180px;
}

.wwa-inventory-body .fa-spin {
    position: absolute;
    left: 10px;
    top: 10px;
}

.wwa-inventory-area {
    margin-top: 20px;
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid black;
}

.wwa-inventory-river-name {
    font-size: 36px;
    margin-bottom: 15px;
}

.wwa-inventory-item {
    display: inline-block;
    margin-left: 15px;
}

.wwa-inventory-item img {
    height: 24px;
    width: 24px;
    margin-top: -2px;
}

.wwa-inventory-amount {
    font-size: 22px;

}

.wwa-inventory-caption {
    font-size: 22px;
}
