<div class="ying-user-profile-small pull-right">
    <img src="images/employee-don.png" alt="use image"/>
    <span>Don Morgan</span>
    <button class="btn btn-default btn-sm">
        <i class="fa fa-chevron-down"></i>
    </button>
</div>