<div class="ying-user-profile" ng-if="isMenuVertical && !isMenuButtonVisible">
    <img src="images/employee-don.png" alt="user image"/>

    <div>
        <p>Don</p>

        <p>Morgan</p>
        <button class="btn btn-default btn-sm">
            <i class="fa fa-chevron-down"></i>
        </button>
    </div>
</div>