<div class="modal-header">
    <h3 class="modal-title">Select Location</h3>
</div>
<div class="modal-body">
    <h3>Name</h3>
    <select ng-show="isLoaded"
            ng-model="selectedLocation"
            ng-options="location.name for location in locations"></select>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="saveSettings()">OK</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss('cancel')">Cancel</button>
</div>