<div class="wwa-employee-widget">
    <div class="wwa-employee-heading">
        <img class="wwa-employee-icon" ng-src="images/employee.png" alt="employee"/>
        <span class="www-employee-title">Employee</span>
    </div>
    <div class="wwa-employee-body">
        <div ng-if="!isLoaded">
            <i class="fa fa-refresh fa-2x fa-spin"></i>
        </div>
        <div ng-if="isLoaded" class="wwa-employee-row">
            <div class="wwa-employee-name-area">
                <h4>EMPLOYEE NAME</h4>

                <p>{{selectedEmployee.name}}</p>
                <h4>LOCAL RIVER</h4>

                <p>{{selectedEmployee.location}}</p>
            </div>
            <div class="wwa-employee-picture-area"
                 ng-style="selectedEmployee != null && {'background-image': 'url(images/' + selectedEmployee.image+ ')'}">
            </div>
        </div>
    </div>
</div>