.wwa-employee-widget {
    height: 100%;
    width: 100%;
    min-height: 180px;
    font-size: 16px;
    color: black;
}

.wwa-employee-heading {
    background-color: blue;
    color: white;
    height: 32px;
    padding-top: 2px;
    font-size: 15px;
    line-height: 32px;
}

.wwa-employee-icon {
    height: 24px;
    width: 24px;
    margin-top: -2px;
}

.wwa-employee-body {
    position: relative;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 180px;
}

.wwa-employee-body .fa-spin {
    position: absolute;
    left: 10px;
    top: 10px;
}

.wwa-employee-row {
    height: 100%;
}

.wwa-employee-name-area {
    float: left;
    background-color: black;
    height: 100%;
    color: white;
}

.wwa-employee-name-area h4 {
    font-size: 14px;
}

.wwa-employee-name-area p {
    font-size: 22px;
}

.wwa-employee-picture-area {
    position: relative;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
}