<li class="ying-selectable-item" ng-click="clicked()" ng-class="{'ying-item-horizontal': !isVertical()}">
    <div class="ying-noselect">
        <i class="fa {{icon}} ying-menu-icon"></i>
        {{ label }}
        <i ng-if="isVertical()" class="fa fa-chevron-left ying-group-indicator-left"
           ng-class="{'fa-rotate-270': isOpen}"></i>
    </div>
</li>
<div ng-show="isOpen" class="ying-subitem-section ying-fade-in-animation" ng-class="{'ying-popup-menu': !isVertical()}">
    <ul ng-transclude></ul>
</div>