<li class="ying-selectable-item" ng-class="{'ying-item-horizontal': !isVertical()}">
    <div class="ying-noselect">
        <i class="fa {{icon}} ying-menu-icon"></i>
        {{ label }}
    </div>
    <i ng-if="isActive() && isVertical()" class="fa fa-2x fa-caret-left ying-menu-active-indicator"></i>
</li>